
.container {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.my-info {
  margin-top: 1rem;
}

.my-description {
  max-width: 840px;
  letter-spacing: -1px;
  font-size: 2.4rem;
  margin-right: auto;
  /* margin-bottom: 2.5em; */
}

.fancy {
  color: #00cc66;
}

.my-career {
  background-color: #fbfbfb;
  /* margin-top: 2em; */
}

.featured-work__container {
  /* padding: 0 15px; */
  display: flex;
  flex-flow: row wrap;
  /* flex: 1 1 100%; */
}

.project-container {
  margin-top: -20px;
}
